{% extends "base.html" %}
{% block title %} Afficher GENRES {% endblock %}
{% block body %}
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Genre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_composition }}</td>
                    <td>{{ row.plante }}</td>
                    <td> <a href="{{ url_for('genres_add') }}">Add</a> </td>
                    <td> <a href="{{ url_for('genres_edit', id_genre_edit_html=row.id_composition) }}">Edit</a> </td>
                    <td> <a href="{{ url_for('genres_select_delete', id_genre_delete_html=row.id_composition) }}">Delete</a> </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}

