{% extends "base.html" %}
{% block title %}Edit GENRE{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('genres_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID Genre</th>
                            <th>Nom genre</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_genre_edit_html" value="{{ row.id_composition }}"></td>
                            <td><input type = "text" name = "name_edit_plante_html" value="{{ row.plante }}"/></td>
                            <td><input type = "text" name = "name_edit_qtt_html" value="{{ row.qtt }}"/></td>

                            <td><button class="btn btn-warning" type="submit">Update</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}