{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
    <div class="home">
        
        <form method="POST" action="">

        <div>
            {{ msgHtml }}
        </div>
        <br>
        <table border="1" cellpadding="5" cellspacing="5">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Titre</th>
                    <th>Durée</th>
                    <th>Description</th>
                    <th>Affiche</th>
                    <th>Date sortie</th>
                </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.id_personne }}</td>
                    <td>{{ row.nom }}</td>
                    <td>{{ row.prenom }}</td>
                    <td>{{ row.mail|default("", True) }}</td>
                    <td>{{ row.tel }}</td>
                    <td>{{ row.lieu }}</td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Edit</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Delete</a> </td>
                    <td> <a href="{{ url_for('avertissement_sympa_pour_geeks') }}">Add</a> </td>
                </tr>
            {% endfor %}
        </table>
        </form>
        
    </div>
{% endblock %}